.card {
    width: 5em;
    height: 8em;
    background-color: grey;
    border: 1px solid black;
}

.gaz {
    background-color: green;
}

.water {
    background-color: blue;
}

.unknown {
    background-color: hotpink;
}