.icon {
  font-size: 4em;
}

.medic {
  color: #e1e1e1;
}

.geologist {
  color: #d26515;
}

.scoot {
  color: black;
}

.diver {
  color: #e1e100;
}

.bodyguard {
  color: red;
}

.chef {
  color: green;
}

.engineer {
  color: blue;
}

.climber {
  color: purple;
}
