.player {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: #d46ee0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  margin: 0.2em;
}

.medic {
  background-color: white;
  border: 1px solid black;
}

.geologist {
  background-color: brown;
  border: 1px solid black;
}

.scoot {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.diver {
  background-color: yellow;
  border: 1px solid black;
}

.bodyguard {
  background-color: red;
  border: 1px solid black;
}

.chef {
  background-color: green;
  border: 1px solid black;
}

.engineer {
  background-color: blue;
  border: 1px solid black;
  color: white;
}

.climber {
  background-color: purple;
  border: 1px solid black;
  color: white;
}
