.tile {
  width: 4em;
  height: 4em;
  background: linear-gradient(pink, white);
  position: relative;
  border: 1px solid #0000001a;
}

.start {
  background: lightblue;
}

.end {
  background: linear-gradient(green, lightgreen);
}

.water {
  background: blue;
}

.gaz {
  background: green;
}

.top,
.bottom,
.right,
.left {
  position: absolute;
  border-radius: 0.1em;
  background-color: #e06565;
}

.top {
  left: 0;
  top: -0.25em;
  width: 4em;
  height: 0.5em;
}

.bottom {
  left: 0em;
  bottom: -0.25em;
  width: 4em;
  height: 0.5em;
}

.right {
  top: 0em;
  right: -0.25em;
  width: 0.5em;
  height: 4em;
}

.left {
  top: 0em;
  left: -0.25em;
  width: 0.5em;
  height: 4em;
}
