.app {
  display: flex;
}

.grid {
  position: relative;
  width: 30em;
  height: 30em;
}

.players {
  display: flex;
  flex-direction: column;

  & > :global(.player) {
    margin-right: 3em;
  }
}


.cards {
  display: flex;
  align-items: center;

  & > *:first-child {
    margin-right: 2em;
  }
}